<plugin>
	<nom>Squelettes Z pour SPIP (Zpip)</nom>
	<auteur>Matthieu Marcillaud, Romy Tetue (dist), Collectif SPIP</auteur>
	<licence>GNU/GPL</licence>
	<version>1.0.0</version>
	<etat>stable</etat>
    <description>
	Un jeu de squelettes comme squelettes-dist/ de SPIP, mais qui peut utiliser les th&egrave;mes
	de [->http://www.spip-contrib.net/Themes]
	</description>
	<prefix>Z</prefix>
	<pipeline>
		<nom>styliser</nom>
		<inclure>z_pipelines.php</inclure>
	</pipeline>
</plugin>
